<form action="" class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="h1 mb60">Вход</h1>

  <label class="tt-control-label mb16">
    Телеграм имя
    <input
      formControlName="username"
      class="tt-input"
      type="text"
      placeholder="Введите логин"
    />
  </label>

  <label class="tt-control-label mb32">
    Телеграм пароль
    <input
      formControlName="password"
      class="tt-input"
      type="text"
      placeholder="Введите пароль"
    />
  </label>

  <button class="btn btn-shadow" type="submit">Войти</button>
</form>

<img src="/assets/svg/main-logo-big.svg" alt="Logo" />
